@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Upload in Chunks Example</h1>
    <p>This sample was written specifically to work around upload restrictions. See the docs if you have questions.</p>
    <p><a class="nave-link text-dark" asp-page="/Upload/Index">Try out uploading chunks</a></p>
</div>
